---
import { Footer, MainContent } from '../components'
import Header from '../components/Header.svelte'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Mixin Feelings'>
	<div
		class='relative overflow-x-hidden w-full h-full before:bg-bg before:absolute before:top-96 before:left-1/2 before:transform before:-translate-x-1/2 before:-translate-y-1/2 before:w-[600px] before:h-[600px] before:blur-3xl before:opacity-20 before:rounded-full'
	>
		<Header client:load />
		<MainContent client:load />
		<Footer client:visible />
	</div>
</Layout>
