---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>{title}</title>
		<meta
			name='description'
			content='AI application which classifies your feelings and recommends Spotify playlists'
		/>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />

		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'
			rel='stylesheet'
		/>
	</head>
	<body class='bg-mixin-400 text-mixin-300 min-h-screen'>
		<slot />
	</body>
</html>
<style is:global>
	html {
		box-sizing: border-box;
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	is:global > html {
	}
	 {
		 {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	.fadeInUp {
		animation: fadeInUp 0.5s linear;
		animation-delay: 0.6s;
		animation-fill-mode: backwards;
	}

	.transition-custom {
		transition: all 0.5s linear;
	}

	.text-color-custom {
		background-image: linear-gradient(#fff 25%, #9c9c9c);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		line-height: 4.5rem;
	}
</style>
